  <footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">A propos de nous</h3>
          <p class="mb-5">Yuso-Covoit est une application web qui vous aide à trouver des covoiturages. Quelque soit vous êtes, vous pouvez partager une annonce de covoiturage ou chercehz une place d'une manière très simple.</p>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-23">
            <h3 class="heading-section">Contacter nous</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Route de Tenyour , Sfax</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+216 53 514 067</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">amasmoudi90@gmail.com</span></a></li>
                <li><span class="icon icon-clock-o"></span><span class="text">Lundi à Vendredi 8:00am - 5:00pm</span></li>
              </ul>
            </div>
        </div>
        
        
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-left">
          <p>
            Copyright 2018 Tous droits réservés .
          </p>
        </div>
      </div>
    </div>
  </footer>